.btn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
}

.btn:hover{
    cursor: pointer;
    color: rgb(88, 88, 88);
}

.btn_edit {
    background-color: rgb(200, 228, 200);
    border: 1px solid green;
}

.btn_delete {
    background-color: rgb(228, 200, 200);
    border: 1px solid rgb(207, 95, 95);
}